[submodule "libs/turf"]
	path = libs/turf
	url = https://github.com/turfjs/turf
[submodule "libs/jszip"]
	path = libs/jszip
	url = https://github.com/Stuk/jszip
[submodule "libs/zip"]
	path = libs/zip
	url = git://github.com/gildas-lormeau/zip.js
[submodule "libs/shapefile-js"]
	path = libs/shapefile-js
	url = https://github.com/calvinmetcalf/shapefile-js
