#ckPrint-page{
	padding:1%;
	background-color: #d0d0d0;
}

	.ckPrint-white-frame{
		background-color: #ffffff;
	}

		#ckPrint-logo{
			position: absolute;
			top:0px;
			left:0px;
			z-index:2;
			padding:20px;
		}

		#ckPrint-title{
			background-color: #2196f3;
			width: 100%;
			height:100px;
			color:white;
			font-size: 28px;
			font-weight: 600;
			font-family: Roboto, sans-serif;
			line-height: 22px;
			text-align: center;
			padding:1%;
			margin-bottom: 1%;
		}

		#ckPrint-app-name{
			padding:10px;
			padding-top:20px;
			font-size: 32px;
			width:100%;
		}

		#ckPrint-details{
			margin-left:60%;
		}

		#ckPrint-legend{
			/* margin-top: 10px; */
			background-color: #ffffff;
		}

		#ckPrint-overlay-right-bottom{
			background-color: #ffffffee;
			padding:10px;
			position: absolute;
			bottom:5px;
			right:5px;
			z-index:2;
		}

		#ckPrint-overlay-right-top{
			padding:10px;
			position: absolute;
			text-align:right;
			top:5px;
			right:5px;
			z-index:3;
		}

		#ckPrint-overlay-left-bottom{
			background-color: #ffffffee;
			padding:10px;
			position: absolute;
			bottom:5px;
			left:5px;
			z-index:2;
		}

		#ckPrint-map{
			background-color: white;
		}

		#ckPrint-filters{
			background-color: white;
			padding:1%;
		}
		
		#ckPrint-filters-list{
			position: absolute;
			padding:1%;
			background-color: #ffffffee;
			display: inline-block;
			top:0px;
			left:0px;
			font-size:20px;
			z-index:3;
		}

		.flex-container {
			display: flex;
			padding-bottom:20px; 
			flex-direction: row;
		}

		.ckPrint-legimg{
			padding-right: 5px;
		}

		.ckPrint-legtitle{
			font-size: 20px;
		}

		.ulleg {
			text-decoration:none;
			padding:5px
		}

		#whiteDivLegend{
			width:30%;
			margin-left: 1%;
		}

		#whiteDivMap{
			width:69%;
			position:relative;
			margin-right:1%;
		}

		.textMap{
			font-size:20px;
			padding-top:10px;
		}

		#rowMap{
			display:flex;
		}