/****************************************************************************************/
/***********************************         Forms                 ***********************************/
/****************************************************************************************/
.ck-form-mapfield-invalid-field, .ck-form-gridfield-invalid-field {
	border-width: 1px;
	border-style: solid;
	border-color: #cf4c35;
}