/****************************************************************************************/
/***********************************         Forms                 ***********************************/
/****************************************************************************************/
.ck-form-mapfield-invalid-field, .ck-form-gridfield-invalid-field {
	border-width: 1px;
	border-style: solid;
	border-color: #cf4c35;
}

.ck-form-required {
	color: red;
}

/* Element look like link */
.lookLikeLink {
	cursor: pointer;
	color: blue;
}

.lookLikeLink:hover {
	text-decoration: underline;
}

.ck-edit-row-readonly {
	color: grey;
}