/****************************************************************************************/
/***********************************         Forms                 ***********************************/
/****************************************************************************************/
.ck-form-mapfield-invalid-field, .ck-form-gridfield-invalid-field {
	border-width: 1px;
	border-style: solid;
	border-color: #cf4c35;
}

.ck-form-required {
	color: red;
}

/* Element look like link */
.lookLikeLink {
	cursor: pointer;
	color: blue;
}

.lookLikeLink:hover {
	text-decoration: underline;
}

.ck-edit-row-readonly {
	color: grey;
}

.ckcolorpicker {
	.x-colorpicker-field-swatch {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 8px;
		top: 0px;
		bottom: 4px;
		margin: auto;
		border: solid 1px black;
		
		.x-colorpicker-field-swatch-inner {
			position: absolute;
			height: 100%;
			width: 100%;
		}
	}
	
	.x-form-text-wrap-default {
		padding-left: 18px;
	}
}
.ckcolorpicker-prefix {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 4px;
	border: solid 1px black;
}
.ckcolumncolor {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 4px;
	border: solid 1px black;
}
.ckcolumntplicon,
 {
	.x-grid-cell-inner {
		text-overflow: unset;
	}
}
.ckcolumnicon span {
	padding: 3px;
}
.ckcolumnicon.bordered span {
	border: solid 1px grey;
	border-radius: 5px;
}