
.ck-map-mouse-dragzoom {
    cursor: zoom-in !important;
}

.ol-control button:hover {
	cursor: pointer;
}


.ol-dragzoom {
    border: dashed 2px black !important;
    background-color: rgba(255, 255, 255, 0.35) !important;
}

/****************************************************************************************/
/*********************************** ZoomSlider style ***********************************/
/****************************************************************************************/
.ol-zoomslider-thumb{
	width: 20px;
}
 /**
 * The zoomslider in the second map shall be placed between the zoom-in and
 * zoom-out buttons.
 */
.zoomslider-style1 .ol-zoom .ol-zoom-out {
  margin-top: 204px;
}
.zoomslider-style1 .ol-zoomslider {
  background-color: transparent;
  top: 2.3em;
}

.zoomslider-style1 .ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}
.zoomslider-style1 .ol-touch .ol-zoomslider {
  top: 2.75em;
}

.zoomslider-style1 .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
.zoomslider-style1 .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
  top: 3px;
}

.zoomslider-style1 .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
.zoomslider-style1 .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
  top: 232px;
}


/**
 * The zoomslider in the third map shall be horizontal, placed in the top-right
 * corner, smaller and orange.
 */
.zoomslider-style3 .ol-zoomslider {
  top: 8px;
  left: 40px;
  right: auto;
  background-color: rgba(255,69,0,0.2);
  width: 200px;
  height: 15px;
  padding: 0;
  box-shadow: 0 0 5px rgb(255,69,0);
  border-radius: 20px;
}

.zoomslider-style3 .ol-zoomslider:hover {
  background-color: rgba(255,69,0,0.3);
}

.zoomslider-style3 .ol-zoomslider-thumb {
  height: 15px;
  width: 15px;
  margin: 0;
  filter: none;
  background-color: rgba(255,69,0,0.6);
  border-radius: 20px;
}
.zoomslider-style3 a.ol-zoomslider-handle:hover {
  background-color: rgba(255,69,0,0.7);
}

/****************************************************************************************/
/************************************* Map Progress *************************************/
/****************************************************************************************/
.ck-progress {
	position: absolute;
	bottom: 0;
	height: 5px;
	background: rgba(0, 60, 136, 0.4);
	width: 100%;
	transition: width 250ms;
	visibility: hidden;
	z-index: 100000;
}


/****************************************************************************************/
/********************************** FullScreen Control **********************************/
/****************************************************************************************/
.ck-map:-moz-full-screen, .ck-map:-moz-full-screen>div:first-child {
  height: 100% !important;
  width: 100% !important;
}
.ck-map:-webkit-full-screen, .ck-map:-webkit-full-screen>div:first-child {
  height: 100% !important;
  width: 100% !important;
}
.ck-map:-ms-fullscreen, .ck-map:-ms-fullscreen>div:first-child {
  height: 100% !important;
  width: 100% !important;
}
.ck-map:fullscreen, .ck-map:fullscreen>div:first-child {
  height: 100% !important;
  width: 100% !important;
}
.ck-map:-webkit-full-screen-ancestor, .ck-map:-webkit-full-screen-ancestor>div:first-child {
  height: 100% !important;
  width: 100% !important;
}


.ck-map:-webkit-full-screen-ancestor, .ck-map:-webkit-full-screen-ancestor>div:first-child {
  height: 100% !important;
  width: 100% !important;
}

.ck-full-screen{
	right: 0.5em;
    bottom: 3em;
}

/****************************************************************************************/
/*********************************** Rotation Control ***********************************/
/****************************************************************************************/
.ck-rotate{
	right: 0.5em;
    bottom: 5.5em;
}

/****************************************************************************************/
/********************************** Geolocation style ***********************************/
/****************************************************************************************/
.gps-marker {
	width: 32px;
	height: 32px;
	background-size: 32px;
}

.marker-blue{
	background-image: url("ck-viewer/images/marker_gray.png");
}

/****************************************************************************************/
/********************************** Measure tooltip    ***********************************/
/****************************************************************************************/
.tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}
.tooltip-measure {
	opacity: 1;
	font-weight: bold;
}
.tooltip-static {
	background-color: #ff0000;
	color: white;
	border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
	border-top: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}
.tooltip-static:before {
	border-top-color: #ff0000;
}


/****************************************************************************************/
/************************************ Mouse Position ************************************/
/****************************************************************************************/
.ck-mouse-position {
    bottom: 8px;
    right: 8px;
    position: absolute;
}

/****************************************************************************************/
/************************************* GetFeature ***************************************/
/****************************************************************************************/
.ck-big-text {
    font-size: x-large;
}
