/****************************************************************************************/
/*********************************** ZoomSlider style ***********************************/
/****************************************************************************************/
.ck-header-20 {
	padding-top: 0;
	padding-bottom: 0;
}

.ck-header-20 .x-tool {
	top: 0px !important;
}