/**
 * Toolbar style
 */
.ck-toolbar {
	background: none;
	width: 0px !important;
}

.ck-toolbar *{
	overflow: visible;
}

.ck-toolbar > div{
	width: 0px !important;
}

.ck-toolbar > div > div{
	width: 0px !important;
}