/**
 * Toolbar style
 */
.ck-toolbar {
	background: none;
}
.iconosm {
	background-image: url(/packages/local/ck-viewer/resources/icons/iconosm.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
}