/**
 * Specific style for Ck-toast component (in Ck.Notify)
 */
.cktoast {
  visibility: hidden; /* Hidden by default.*/
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #888; 
  color: #fff;
  text-align: center; /* Centered text */
  border-radius: 4px; /* Rounded borders */
  padding: 14px; /* Padding */
  position: absolute; /* Sit on top of the screen */
  z-index: 50000; /* Add a z-index if needed */
  left: 50%; /* Center */
  top: 0px;
}

/* Show the toast (class added with JavaScript) 
Duration + delay shall correspond to javascript remove of item.
*/
.cktoast.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: ck-toast-fadein 0.5s, ck-toast-fadeout 0.5s 3.2s;
  animation: ck-toast-fadein 0.5s, ck-toast-fadeout 0.5s 3.2s;
  top: 40px;
  opacity: 0.85;
}

@-webkit-keyframes ck-toast-fadein {
  from {top: 0; opacity: 0;}
  to {top: 40px; opacity: 0.85;}
}

@keyframes ck-toast-fadein {
  from {top: 0; opacity: 0;}
  to {top: 40px; opacity: 0.85;}
}

@-webkit-keyframes ck-toast-fadeout {
  from {top: 40px; opacity: 0.85;}
  to {top: 0; opacity: 0;}
}

@keyframes ck-toast-fadeout {
  from {top: 40px; opacity: 0.85;}
  to {top: 0; opacity: 0;}
}