/**
 * Specific style for Ck-toast component (in Ck.Notify)
 */
.cktoast {
  visibility: hidden; /* Hidden by default.*/
  text-align: center; /* Centered text */
  position: absolute; /* Sit on top of the screen */
  z-index: 15000; /* Add a z-index, need to be below 19000 (Ext.win z-index) */ 
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  left: 0px;
  right: 0px;
}
.cktoast-child {
    min-width: 250px; /* Set a default minimum width */
    background-color: #666; 
    color: #fff;
    border-radius: 4px; 
    padding: 8px 14px;
}
.cktoast.cktoast-temp {
  top: 0px;
}

.cktoast.cktoast-fixed {
  visibility: visible; /* Show the toast */
  bottom: 30px;
  opacity: 0.85;
}

/* Show the toast (class added with JavaScript) 
Duration + delay shall correspond to javascript remove of item.
*/
.cktoast.cktoast-temp.show {
  visibility: visible; /* Show the toast */
  -webkit-animation: ck-toast-fadein 0.5s, ck-toast-fadeout 0.5s 3.2s;
  animation: ck-toast-fadein 0.5s, ck-toast-fadeout 0.5s 3.2s;
  top: 40px;
  opacity: 0.85;
}

@-webkit-keyframes ck-toast-fadein {
  from {top: 0; opacity: 0;}
  to {top: 40px; opacity: 0.85;}
}

@keyframes ck-toast-fadein {
  from {top: 0; opacity: 0;}
  to {top: 40px; opacity: 0.85;}
}

@-webkit-keyframes ck-toast-fadeout {
  from {top: 40px; opacity: 0.85;}
  to {top: 0; opacity: 0;}
}

@keyframes ck-toast-fadeout {
  from {top: 40px; opacity: 0.85;}
  to {top: 0; opacity: 0;}
}